<br><br><br>
<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<div><%= link_to image_tag(@book.image, style:'width:400px; height:600px; float:left'), books_path %></div>
		<h1>&nbsp&nbsp<%= @book.title %></h1>
		<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= @book.description %></p>
		<h5>&nbsp&nbsp&nbsp&nbsp&nbspBy:&nbsp<%= @book.author %></h3>
			<%
			cat_id = @book.category_id
			cat = Category.find(cat_id)
			%>
		<h5>&nbsp&nbsp&nbsp&nbsp Category:&nbsp<%= cat.name %></h3>

		<small>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspBy<%= @book.created_at %></small>
		<h6>&nbsp&nbsp&nbsp&nbsp&nbsp Price:&nbsp$<%= @book.price %></h6>
	</div>
	<div class="col-md-3"></div>

</div>




